@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
  src: url('./fonts/Light/Montserrat-ExtraLight.eot');
  src: url('./fonts/Light/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Light/Montserrat-ExtraLight.woff') format('woff'),
       url('./fonts/Light/Montserrat-ExtraLight.woff2') format('woff2'),
       url('./fonts/Light/Montserrat-ExtraLight.ttf') format('truetype'),
       url('./fonts/Light/Montserrat-ExtraLight.svg#MontserratExtraLight') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: normal;
  src: url('./fonts/Light/Montserrat-Thin.eot');
  src: url('./fonts/Light/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Light/Montserrat-Thin.woff') format('woff'),
       url('./fonts/Light/Montserrat-Thin.woff2') format('woff2'),
       url('./fonts/Light/Montserrat-Thin.ttf') format('truetype'),
       url('./fonts/Light/Montserrat-Thin.svg#MontserratThin') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Light/Montserrat-Light.eot');
  src: url('./fonts/Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Light/Montserrat-Light.woff') format('woff'),
       url('./fonts/Light/Montserrat-Light.woff2') format('woff2'),
       url('./fonts/Light/Montserrat-Light.ttf') format('truetype'),
       url('./fonts/Light/Montserrat-Light.svg#MontserratLight') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Medium/Montserrat-Medium.eot');
  src: url('./fonts/Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Medium/Montserrat-Medium.woff') format('woff'),
       url('./fonts/Medium/Montserrat-Medium.woff2') format('woff2'),
       url('./fonts/Medium/Montserrat-Medium.ttf') format('truetype'),
       url('./fonts/Medium/Montserrat-Medium.svg#MontserratMedium') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Regular/Montserrat-Regular.eot');
  src: url('./fonts/Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Regular/Montserrat-Regular.woff') format('woff'),
       url('./fonts/Regular/Montserrat-Regular.woff2') format('woff2'),
       url('./fonts/Regular/Montserrat-Regular.ttf') format('truetype'),
       url('./fonts/Regular/Montserrat-Regular.svg#MontserratRegular') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/Semibold/Montserrat-SemiBold.eot');
  src: url('./fonts/Semibold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Semibold/Montserrat-SemiBold.woff') format('woff'),
       url('./fonts/Semibold/Montserrat-SemiBold.woff2') format('woff2'),
       url('./fonts/Semibold/Montserrat-SemiBold.ttf') format('truetype'),
       url('./fonts/Semibold/Montserrat-SemiBold.svg#MontserratSemiBold') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Bold/Montserrat-Bold.eot');
  src: url('./fonts/Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Bold/Montserrat-Bold.woff') format('woff'),
       url('./fonts/Bold/Montserrat-Bold.woff2') format('woff2'),
       url('./fonts/Bold/Montserrat-Bold.ttf') format('truetype'),
       url('./fonts/Bold/Montserrat-Bold.svg#MontserratBold') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url('./fonts/ExtraBold/Montserrat-ExtraBold.eot');
  src: url('./fonts/ExtraBold/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/ExtraBold/Montserrat-ExtraBold.woff') format('woff'),
       url('./fonts/ExtraBold/Montserrat-ExtraBold.woff2') format('woff2'),
       url('./fonts/ExtraBold/Montserrat-ExtraBold.ttf') format('truetype'),
       url('./fonts/ExtraBold/Montserrat-ExtraBold.svg#MontserratExtraBold') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  src: url('./fonts/ExtraBold/Montserrat-Black.eot');
  src: url('./fonts/ExtraBold/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
       url('./fonts/ExtraBold/Montserrat-Black.woff') format('woff'),
       url('./fonts/ExtraBold/Montserrat-Black.woff2') format('woff2'),
       url('./fonts/ExtraBold/Montserrat-Black.ttf') format('truetype'),
       url('./fonts/ExtraBold/Montserrat-Black.svg#MontserratBlack') format('svg');
}
